version: 2.1

orbs:
  linter: talkiq/linter@4.0.1

jobs:
  run-tests:
    docker:
      # Use the same image as the base of the Dockerfile
      - image: python:3.14-slim
    steps:
      - checkout
      - run: apt-get update && apt-get install -y pandoc
      - run: |
          pip install -r requirements.txt
          pip install pytest
          pytest

workflows:
  run-jobs:
    jobs:
      - linter/pre-commit:
          filters:
            tags:
              only: /.*/
      - run-tests:
          filters:
            tags:
              only: /.*/
